.x-spreadsheet-bottombar {
  display: none !important;
}
.excel-action-container {
  display: flex;
  flex: row;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 12px;
  .space {
    flex-shrink: 0;
    flex-grow: 1;
  }
}
