.site-layout-sider {
  position: sticky;
  top: 32px;
  overflow: hidden;
  margin-right: 2em;
  align-self: flex-start;
  max-height: calc(100vh - 142px);
  &:hover {
    overflow: auto;
  }
}

.site-layout-header {
  background: #fff;
}

.site-content {
  background: #fff;
  z-index: 0;
  width: calc(100% - 200px - 2em);
  align-self: flex-start;
}

.expand {
  .ant-card {
    height: 100%;
  }
}
