.header-container {
  height: 100%;
  padding: 0 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .avatar-container {
    cursor: pointer;
    .ant-avatar {
      user-select: none;
    }
  }
  .logo {
    height: 44px;
    margin: 10px 0;
  }
}
